@import url('https://fonts.cdnfonts.com/css/bonus-giant');

body {
    background-image: url("../fotos/datosUsuarios.png");
    font-size: large;
    margin: 0;
    padding: 0;
}
.general {
    background-color: #fff;
    border-radius: 0px 0px 8px 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin: 0px auto;
    padding: 20px;
    max-width: 70%;
}
.usuario {
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 30px;
    background-color: #f9f9f9;
}

.usuario-titulo {
    font-weight: bold;
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    display: flex;
    padding-bottom: 20px;
}

.usuario-info {
    font-size: 18px;
    color: #666;
    margin-bottom: 15px;
}

.usuario-img {
    border-radius: 5px;
    width: auto;
    height: 180px;
    display: block;
    margin-bottom: 15px;
    border: 2px solid #1e1f22;
}

input[type="submit"] {
    margin-top: 10px;
}

select {
    margin-right: 10px;
}

.container {
    padding-top: 10px;
}

nav {
    display: flex;
    font-family: 'Bonus Giant', sans-serif;
    font-size: large;
    margin: -20px -20px 0;
    border-radius: 0 0 8px 8px;
    background-color: #16161d;
    overflow: hidden;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
}

nav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

nav a:hover {
    background-color: #ddd;
    color: black;
}

nav::after {
    content: "";
    clear: both;
    display: table;
}
@media (max-width: 1000px) {
    body {
        overflow-y: scroll;
    }

    .general {
        max-width: 100%;
    }

    nav {
        display: flex;
        font-family: 'Bonus Giant', sans-serif;
        font-size: large;
        margin: -20px -20px 0;
        border-radius: 0 0 8px 8px;
        background-color: #16161d;
        overflow: hidden;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        align-items: center;
    }
}